<header></header>
<div class="settings_container">
    <div class="form_container">
        <form ng-submit="$ctrl.submit($ctrl.playlist)">
            <div class="input_containers">
                <input class="categories_input" type="text" placeholder="Category" ng-model="$ctrl.playlist.category">
                <input class="name_input" type="text" placeholder="Playlist name" ng-model="$ctrl.playlist.name">
            </div>
            <tags-input ng-model="$ctrl.playlist.tags"></tags-input>
            <!-- <p>Model: {{$ctrl.playlist.tags}}</p> -->
            <button class="save_button_settings">SAVE</button>
        </form>
        <button ng-click="$ctrl.deletePlaylist($ctrl.playlist);" class="delete_button">Delete Playlist</button>
    </div>
</div>
<img id="test" alt="">

<div class="popup" ng-show="($ctrl.show)">
    <div class="popup_contents">
        <p>Press Save First</p>
        <button ng-click="$ctrl.toFalse()">Okay</button>
    </div>
</div>