body, html {
  margin: 0 auto;
  overflow: scroll;
  background-color: #DFE6E9;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #212121;
  height: 10vh;
}

.logo {
  height: 30px;
  padding: 10px;
  cursor: pointer;
}

.new_playlist {
  display: flex;
  position: absolute;
  align-items: center;
  padding: 10px 15px;
  right: 10px;
  background-color: #E65100;
  border: none;
  outline: none;
  border-radius: 2.5px;
  cursor: pointer;
}

.fa-plus {
  padding-right: 5px;
}

footer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: #212121;
  height: 100px;
}

.album_art_container {
  height: 100px;
  cursor: pointer;
}

.album_art {
  height: 100px;
}

.fa-play, .fa-pause, .fa-forward {
  color: #E65100; 
  padding: 0 10px;
  cursor: pointer;
  font-size: 48px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  height: 25px;
  max-width: 300px;
}

.artist_info_container {
  flex: 1;
  margin-left: 10px;
  cursor: pointer;
}

.artist_info {
  color: white;
}

.wrapper p {
  position: absolute;
  margin: 0;
  line-height: 25px;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  50% { transform: translateX(-40%); }
  80% { transform: translateX(0%); }
  100% { transform: translateX(0%); }
}

/* CSS Styling for player page */
.player_container {
  /* border: 1px solid black; */
  height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_container {
height: 10%;
/* border: solid 1px red; */
width: 60vw;
display: flex;
justify-content: space-between;
align-items: center;
}

.fa-angle-down, .fa-cog {
  font-size: 24px; 
}

.album_container {
height: 55%;
/* border: solid 1px green; */
width: 65vw;
display: flex;
justify-content: center;
align-items: center;
}

.album_container img {
  height: 80%;
}
.title_and_artist {
height: 15%;
/* border: solid 1px blue; */
width: 80vw;
text-align: center;
}

.control_container {
height: 10%;
/* border: solid 1px purple; */
width: 60vw;
display: flex;
justify-content: space-between;
align-items: center;
}

.fa-heart {
  font-size: 48px;
  color: #E65100; 
}

.footer_control {
  font-size: 24px;
}

/* Styling for home page */
.home_container {
  /* border: solid 1px black; */
  height: 90vh;
  margin-top: 12vh;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.home_album_cont {
  margin: 0 20px;
}

.home_album_art {
  width: 175px;
  height: 175px;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all .2s ease-in-out;
}

.home_album_art:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.5s all;
  transform: scale(1.025);
}

.home_playlist_name {
  text-align: center;
}

/* Styling for Settings Page */
.settings_container {
  margin-top: 10vh;
  width: 100vw;
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DFE6E9;
  height: 90vh;
}

.form_container {
  width: 80vw;
  /* border: solid 1px blue; */
}

.input_containers {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.save_button_settings {
  padding: 10px 15px;
  right: 10px;
  background-color: #E65100;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 24px;
  border-radius: 10px;
}

.delete_button {
  padding: 10px 15px;
  right: 10px;
  background-color: #DFE6E9;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  color: #636e72;
  font-size: 24px;
  border-radius: 10px;
  margin-top: 10px;
}

.delete_button:hover {
  color: red;
}

.categories_input, .name_input {
  font-size: 32px;
  background-color: #DFE6E9;
  border: none;
  outline: none;
  margin: 8px 0;
  padding-bottom: 4px;
}

.categories_input:focus, .name_input:focus { 
  border-bottom: 2px solid #212121;
}

.name_input {
  font-size: 24px;
}

tags-input .tags .tag-item {
  padding: 4px !important;
  background: #212121 !important;
  color:#DFE6E9;
}

tags-input .tags .tag-item .remove-button {
  color: #DFE6E9 !important;
}

tags-input * {
  border: none !important;
  outline: none !important;
  font: auto !important;
  font-size: 16px !important;
  height: auto !important;
  border-radius: 10px;
}

tags-input .tags {
  padding: 16px 8px !important;
  margin-bottom: 16px;
}