<footer>
  <div class="album_art_container">
    <img class="album_art" src="{{$ctrl.tracks[$ctrl.currentTrack].artwork_url}}" alt="album art">
  </div>
  <div class="artist_info_container">
    <div class="wrapper">
      <p class="artist_info">{{$ctrl.tracks[$ctrl.currentTrack].title}} </p>
    </div>
    <p class="artist_info">{{$ctrl.tracks[$ctrl.currentTrack].user.username}}</p>
  </div>

  <div class="controls" ng-show="!$ctrl.play">
    <i class="fas fa-play" ng-click="$ctrl.togglePlay()"></i>
    <i class="fas fa-forward" ng-click="$ctrl.nextTrack()"></i>
  </div>
  <div class="controls" ng-show="$ctrl.play">
    <i class="fas fa-pause" ng-click="$ctrl.togglePlay()"></i>
    <i class="fas fa-forward" ng-click="$ctrl.nextTrack()"></i>
  </div>
</footer>