<footer>
  <p ng-model="$ctrl.event"></p>
  <div class="album_art_container">
    <img class="album_art" ng-click="$ctrl.goToPlayer()" src="{{$ctrl.tracks[$ctrl.playlistIndex].data.data[$ctrl.currentTrack].artwork_url}}" alt="album art">
  </div>
  <div class="artist_info_container" ng-click="$ctrl.goToPlayer()">
    <div class="wrapper">
      <p class="artist_info" ng-click="$ctrl.goToPlayer()">{{$ctrl.tracks[$ctrl.playlistIndex].data.data[$ctrl.currentTrack].title}} </p>

    </div>
    <p class="artist_info">{{$ctrl.tracks[$ctrl.playlistIndex].data.data[$ctrl.currentTrack].user.username}}</p>
  </div>

  <div class="controls" ng-show="!$ctrl.play">
    <i class="fas fa-play footer_control" ng-click="$ctrl.togglePlay()"></i>
    <i class="fas fa-forward footer_control" ng-click="$ctrl.nextTrack()"></i>
  </div>
  <div class="controls" ng-show="$ctrl.play">
    <i class="fas fa-pause footer_control" ng-click="$ctrl.togglePlay()" ></i>
    <i class="fas fa-forward footer_control" ng-click="$ctrl.nextTrack()"></i>
  </div>
</footer>